# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [2]:
import pandas as pd
# Load and view first few lines of dataset
pd.read_csv("admission_data.csv")

     student_id  gender      major  admitted
0         35377  female  Chemistry     False
1         56105    male    Physics      True
2         31441  female  Chemistry     False
3         51765    male    Physics      True
4         53714  female    Physics      True
..          ...     ...        ...       ...
495       26950    male    Physics     False
496       25775  female  Chemistry      True
497       47243  female  Chemistry      True
498       52067    male    Physics      True
499       50535    male    Physics     False

[500 rows x 4 columns]

### Proportion and admission rate for each gender

In [ ]:
# Proportion of students that are female

In [ ]:
# Proportion of students that are male

In [ ]:
# Admission rate for females

In [ ]:
# Admission rate for males

### Proportion and admission rate for physics majors of each gender

In [ ]:
# What proportion of female students are majoring in physics?

In [ ]:
# What proportion of male students are majoring in physics?

In [ ]:
# Admission rate for female physics majors

In [ ]:
# Admission rate for male physics majors

### Proportion and admission rate for chemistry majors of each gender

In [ ]:
# What proportion of female students are majoring in chemistry?

In [ ]:
# What proportion of male students are majoring in chemistry?

In [ ]:
# Admission rate for female chemistry majors

In [ ]:
# Admission rate for male chemistry majors

### Admission rate for each major

In [ ]:
# Admission rate for physics majors

In [ ]:
# Admission rate for chemistry majors